<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>

    <form th:action="@{/addUser}" th:object="${user}" th:method="POST">
        <label for="firstName">Enter firstname: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <br/>
        <label for="lastName">Enter lastname: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Confirm"/>
    </form>
<br>
    <a th:href="@{/}">Home page</a>
</body>
</html>